<div class="detail_content_top">
  <div class="detail_picture_top"><img
              src="{{Light_novels.anhd}}"
              style="height: 100%;
            width: 100%;
            border-radius: 10px;"
            /></div>
  <div class="detail_info-content_top">
    <div
      style="
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          "
    >
      <h1 class="detail_name">{{Light_novels.ten}}</h1>
      <b>Thể loại:</b>
      <p>{{Light_novels.theloai}}</p>
      <b>Tác Giả: </b>
      <p>{{Light_novels.tacgia}}</p>
      <b>Họa sĩ: </b>
      <p>So-bin</p>
    </div>
    <div class="detail_button_top">
      <button>
        <a href="/read/{{Light_novels.slug}}"><b style="color: white">Đọc truyện</b></a>
      </button>
    </div>
  </div>
</div>
<div class="detail_content_main">
  <h1 style="border-bottom: solid 2px blue; width: 140px">Tóm tắt</h1>
  <div>
    <p class="detail_word">
      {{Light_novels.tomtat}}
    </p>
  </div>
  <!--
  <h1 style="border-bottom: solid 2px blue; width: 330px">
    Danh sách chương
  </h1>
  <div class="chap">
    <a href="read.html" class="chap">
      <b class="word">Chương 0:</b>
      <p class="word">Mở đầu</p>
    </a>
  </div>
  <div class="chapd">
    <a href="read.html" class="chapd">
      <b class="word">Chương 1:</b>
      <p class="word">Kết thúc và khởi đầu</p>
    </a>
  </div>
  <div class="chap">
    <a href="read.html" class="chap">
      <b class="word">Chương 2:</b>
      <p class="word">Các thủ hộ giả</p>
    </a>
  </div>
  <div class="chapd">
    <a href="read.html" class="chapd">
      <b class="word">Chương:</b>
      <p class="word">Giao đoạn</p>
    </a>
  </div>
  <div class="chap">
    <a href="read.html" class="chap">
      <b class="word">Chương 3:</b>
      <p class="word">Cuộc chiến ở làng Carne</p>
    </a>
  </div>
  <div class="chapd">
    <a href="read.html" class="chapd">
      <b class="word">Chương 4:</b>
      <p class="word">Xung đột</p>
    </a>
  </div>
  <div class="chap">
    <a href="read.html" class="chap">
      <b class="word">Chương 5:</b>
      <p class="word">Kẻ thống trị cái chết</p>
    </a>
  </div>
  <div class="chapd">
    <a href="read.html" class="chapd">
      <b class="word">Chương kết 6:</b>
      <p class="word">Chương kết</p>
    </a>
  </div>
</div>
-->